#btmenu{
	float:left;
	position:fixed;
}
#hamb{
	width:100;
	height:100;
}
#verx{
	position:relative;
	bottom:0px;
	background-color:#000033;
	height:100px;
}

li{
	list-style-type: none;
	padding-right:0px;
}
.as:hover{
	
	background-color:#090a00;
	transition:background-color 0.5s ease 1s;
}

.as{

	margin-bottom:30px;
	position:relative;
	top:200px;	
	font-size:x-large;
	margin-right:1400px;
	width:255px;	
	z-index:2;
}
.bt-icon{
	color:#ffffff;
}
body{
		background-color:#000033;
}
.dak{
	position:relative;
	z-index:1;
	width:300px;
	height:1200px;		
	background-color:#000033;
}
#text{
	height:1500px;
	width:1550px;
	float:right;
	position:relative;
	bottom:1300px;	
	color:#ffffff;
	z-index:3;
}